[submodule "chat-ui-flutter"]
	path = chat-ui-flutter
	url = https://github.com/raj-vora/chat-ui-flutter.git
[submodule "budget_app_ui"]
	path = budget_app_ui
	url = https://github.com/raj-vora/budget_app_ui.git
[submodule "flutter_social_ui"]
	path = flutter_social_ui
	url = https://github.com/raj-vora/flutter_social_ui.git
[submodule "food_delivery_ui"]
	path = food_delivery_ui
	url = https://github.com/raj-vora/food_delivery_ui.git
